__pycache__/
.ipynb_checkpoints
Ignores

# Dataset items
Datasets
Data collection/*
preprocess_generator.py
!automa2txt.py
!workflow.json
*.cach
*.ttf

# Model items
Text detection/*
!*.yml
*.h5
*.csv
callbacks.py