__pycache__/
.ipynb_checkpoints
Ignores
*.docx

# Dataset items
Datasets
Data collection/*
preprocess_generator.py
!automa2txt.py
!workflow.json
*.ttf

# Model items
Text detection/*
!Text detection/Evaluation
!*.yml
*.h5
callbacks.py